
[Traces]
files=1
trace_type=i
transpose=true
index=0
nsamples=3272
trace=stack_w1_200_3272.trace 200 3272

[Guesses]
files=1
guess_type=u
transpose=true
guess=stack_w1_200_3272.input 200 16

[General]
threads=8
order=1
return_type=double
algorithm=AES
position=LUT/AES_AFTER_MULTINV
round=0
bitnum=all
bytenum=all
#correct_key=0x000102030405060708090a0b0c0d0e0f
memory=4G
top=20
